# Default ignored files
/shelf/
/workspace.xml
**/*.iml
/misc.xml
venv/
venv37/
/__pycache__/
/Orig_Wide-Field-Deconvolution/sandbox_amon.asv
/data_Jonas.hdf5
/Orig_Wide-Field-Deconvolution/data_Jonas.hdf5
/Todo.txt
